*, ::after, ::before {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
}
.cursor-help{
    cursor: help;
}
.table_heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
[class*='status-']{
    position: relative;
    display: inline-block;
    padding-left: 20px;
    font-weight: bold;
}
[class*='status-']::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px; 
    border-radius: 3px;
    left: 0;
    top: 4px;
}
.status-completed::before{
    background-color: #139d2c;  
}
.status-inprogress::before{
    background-color: #938AEA;  
}
.badge-light{
    background-color: #FBEBF3;
}

